@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --green:#29AB87;
  --textcolor:#646464;
}
body {
  margin: 0;
  padding:0;
  font-family: noto sans;
  box-sizing: border-box;
}
*{
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
}

